body {
	border: 0;
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 12px;
	font-family: arial, verdana, helvetica, sans-serif;
	background-color: #FFFFFF;
}

img {
	border: none;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:active, a:hover {
	text-decoration: underline;
	color: #00c;
}

a:visited {
	color: #551a8b;
}

.inputText, .inputPassword, .inputCheckbox, .inputRadio, .inputSubmit, .inputButtom, option, .option, select, .select, .inputList {
	font-family: arial, trebuchet, helvetica, sans-serif;
	font-size: 10px ;
	line-height: 14px ;
	border: 1px solid #C3C3C3;
	background-color: #FFFFFF;
	cursor: pointer;
}

.inputText, .inputPassword, .inputCheckbox, .inputRadio, .inputSubmit, .inputButtom, option, .option {
	height: 14px;
}

.inputText, .inputPassword {
	color: #2E3092;
	cursor: text;
}

.inputCheckbox, .inputRadio {
	background-color: transparent;
	width: 11px;
	height: 11px;
	border-style: none;
}

.inputSubmit, .inputButtom {
	color: #2E3092;
	font-weight: bolder;
	letter-spacing: 1px;
	line-height: 14px;
	height: 16px;
}

.select {
	color: #2E3092;
	line-height: 10px;
	height: 16px;
}

option, .option {
	color: #2E3092;
	border:none;
}

.inputList {
	color: #2E3092;
	font-size: 10px;
	line-height: 14px;
}

textarea {
	color: #2E3092;
	font-family: Arial,trebuchet, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	border-width: 1px solid #C3C3C3;
	background-color: #FFFFFF;
	cursor: text;
}

#principal {
	border: 1px solid #a1bbe4;
	margin-bottom:10px;
	background-color: #d4dded;
	border-right: solid 3px  #a1bbe4;
	border-bottom: solid 3px  #a1bbe4;
}

#rodape, #topo ,#principal, #topoplugin {
	width:800px;
	margin:0 auto;
	position: relative;
}

#rodape {
	text-align: center;
}

#menus {
	display: inline;
	float: left;
	position:relative;
	width: 170px;
}

#menu {
	backgroud-color: #c9d6eb;
	margin: 5px;
	border: 1px solid #a1bbe4;
	padding-bottom: 5px;
	margin-right: 20px;
}

#menu a {
	padding: 1px 5px 1px 5px ;

}

#topo {
	background-color:white;
	height: 100px;
	margin-top:10px;
}
#topoplugin{
	background-color:white;
	height: 60px;
	margin-top:5px;
}

#topo #logo {
	float: left;
}

.titulobloco {
	background-color: #e5ecf4;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	padding: 2px;
	margin-bottom: 5px;
}

.titulomenu {
	background-color: #a1bbe4;
}

#titulomodulo {
	background-color: #e5ecf4;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	padding: 2px;
	margin: 5px;
}

#login {
	display: inline;
	float: right;
	backgroud-color: #c9d6eb;
	margin: 5px 0px 5px 5px;
	border: 1px solid #a1bbe4;
	text-align: right;
	width: 170px;
}

ul.nav { font-size: 94%; list-style: none; list-style-image: none; margin: 0; padding: 0; }
li.navList { background-color: #E5ECF4; height: 20px; line-height: 20px; margin: 0px 5px 2px 5px; padding: 0; }
li.navList a { color: #000000; cursor: pointer; display: block; height: 20px; }
li.navList a:link { color: #000000; text-decoration: none; }
li.navList a:visited { color: #000000; text-decoration: none; }
li.navList a:hover { background-color: #6E96D5; color: #FFFFFF; text-decoration: none; }

.titulo1 {
	font-size: 24px;
	font-weight: bold;
}

.titulo2 {
	font-size: 18px;
	font-weight: bold;
}

#conteudo { 
	margin: 10px;
	padding-left: 170px;
}
#conteudoPlugin { 
	margin: 10px;
}


#mensagem {
	margin: 10px;
	text-align: center;
}

#espacadorprincipal {}

.center {
	text-align:center;
}

#footer {
	clear: both;
	margin: 0;
	padding: .5em;
}

.listagem {}

.listagem .titulo {
	font-weight: bold;
}

.listagem td {
	border-bottom: thin solid #000000;
	padding: 6px;
}

#espaco {
	display: inline;
	float: left;
	height: 200px;
}

.conteudoInstitucional {
	margin: 20px;
	text-align: justify;
	font-size: 12px;
	font-family: verdana, helvetica, sans-serif;
}

.conteudoInstitucional:first-letter {
	font-size: 18px;
}

.formulario {}

.formulario td {}

.formulario .even {}

.formulario .odd {}

.formulario .head {
	padding-top: 8px;	
	text-align: left;
}

.SelectList {
	width: 180px;
}

#avlistaurl {
font-size: 10px;
font-family: Verdana;
}

#avlistaurl li {
margin: 0.5em 0 0.5em 0.5em; 
}

#avlistaurl ul {

padding: 13px;; 
margin: 0;
}



